html {
    background: #cffac2;
}
li {
    margin-top: 30px;
    margin-right: 20px;
}
.navbar.navbar-inverse {
    min-height:100px;
    background: #28a745;
    margin-bottom: 0px;
}
.navbar-brand {
    margin-top: 10px;
}
.container-fluid{
    background: #cffac2;
}